<table class="table table-stripped table-hover table-condensed">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
          Initiative
      </th>
    </tr>
  </thead>
  <tbody *ngFor="let character of characterList">
    <tr [ngClass]="{'active' : character.selected}" (click)="onMoveClick(character)">
      <td>
        {{character.charName}}
      </td>
      <td>
          {{character.initiative}}
      </td>
    </tr>
    <tr *ngIf="character.selected">
      <td>
        <div class="row">
          <div class="col-sm-6">
              <button class="btn btn-sm btn-primary" (click)="onEditClick(character)">Edit</button>
          </div>
          <div class="col-sm-6">
              <button class="btn btn-sm btn-primary" (click)="onRemoveClick(character)">remove</button>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
