ul, li {
    text-decoration: none;
    list-style: none;
    margin:0;
    padding:0;
}

.base-border {
    border: 0;
    border-bottom: 1px solid black;
    box-shadow: none;
}

.no-border {
    border: 0;
    box-shadow: none;
}

.tablleScroll{
    height:100%;
    overflow: scroll;
}

.standard-spacer{
    margin-top:20px;
}
.double-spacer{
    margin-top: 40px;
}
.subtitle {
    
    background-color: black;
    color:white;
    text-align: center;
    font-weight: bolder;
    width:60px;
    height: 50px;
    margin-bottom: 2px;
}

.row-adj{
    padding-left: 15px;
}

.subtitle-label{
    
    font-size:10px;
    margin:0;
}

.small-subtitle-layout {
    
    text-align: center;
}

.input-div-layout{
    text-align: center;
}

.subtitle > h5 {
    margin-top:0;
    font-size:9px;
}
.subtitle > h4{
    padding-top: 10%;
    margin-bottom: 0;    
}

.bg-bar-ok{
    background-color: none;
    color: darkgreen;
}

.bg-bar-no-good{
    background-color: none;
    color: darkgoldenrod;
}

.bg-bar-danger{
    background-color: none;
    color: darkred;
}


.hp-input{
    height: 44px;
    width: 60px;
    font-size: 150%;
}
.input-block{
    display: block;
    width: 100%;

}
.input-inline-block{
    display: inline-block;
    width: auto;
}

.centered {
    text-align: center;
}
.ability-input{
    max-width:45px;
    text-align: center;
}

