<div class="row roll-results">
    <form>
    <div class="col-sx-12" [ngClass] = "{'col-sm-5': showRollButton, 'col-sm-6': !showRollButton}">
        <input-number [(ngModel)]="quantity" [description]="'D' + dice.faces" [(value)]="quantity" [setMin]="0" [setMax]="200" ngDefaultControl name="input-quantity"></input-number>    
    </div>
    <div class="col-sx-12" [ngClass] = "{'col-sm-5': showRollButton, 'col-sm-6': !showRollButton}">
        <input-number [(ngModel)]="modifier" [description]="'+/-'" [(value)]="modifier" [setMin]="-1000" [setMax]="1000" ngDefaultControl name="input-modifier"></input-number>
    </div>
    <div class="col-sx-12 col-sm-2" *ngIf="showRollButton">
        <button class="btn btn-success btn-block" (click)="roll()"><i class="fa fa-play" aria-hidden="true"></i> Roll</button>
    </div>
    </form>
</div>
