.dice-span{
  min-width: 60px;
}

.in-line{
  display: inline;
}

.dice{
  position: relative;
  background-color: darkgray;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 0px;
  margin-top: 3px;
  display: inline-block;
}

.roll-success{
  background-color: green;
}

.dice-value{
  font-size: 16px;
  text-align: center;
  color: whitesmoke;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 50%;
  margin: auto;

}

.roll-results li {
  display: inline;
}

.dice-container {
  padding: 5px;
  /*background-color: white;*/
  border-color: lightgray;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  margin-top: 5px;
}

.header {
  margin-top: 5px;
  margin-bottom: 5px;
}