<h2>Classes List</h2>

<div class="table-responsive"> 
    <button (click)="onSelect(characterClass)" class=btn btn-info> Add class </button>  
    <table class="table table-stripped table-hover">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Total Levels
                </th>
                <th>Fortitude</th>
                <th>Reflex</th>
                <th>Will</th>
                <th>
                    Attack Bonus
                </th>
                <th>
                    Edit
                </th>
                <th>
                    Remove
                </th>
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let characterClass of characterClasses; let i = index">
                <td>
                    {{characterClass.name}}
                </td>
                <td>
                    {{characterClass.levels}}
                </td>
                <td>{{characterClass.savingThrows.fortitude}}</td>
                <td>{{characterClass.savingThrows.reflex}}</td>
                <td>{{characterClass.savingThrows.will}}</td>

                <td>
                    {{characterClass.baseAttackBonus}}
                </td>
                <td>
                    <button (click)="onSelect(characterClass)" class="btn btn-info">
                        edit
                    </button>
                </td>
                <td>
                    <button (click)="onDelete(characterClass, i)" class="btn btn-info">
                        delete
                    </button>
                </td>                
            </tr>
        </tbody> 
    </table>
</div>