
<h1>Edit Character Class</h1>

<div class="row" *ngIf="characterClass">
    <div class="col-sx-12 col-md-5">
        <form #classForm = "ngForm">
            <div class="row">
                <div class="form-group col-sx-12 col-sm-12 col-md-12">
                    <label>Class Name</label>
                    <input type="text" name="name" [(ngModel)]="characterClass.name" class="form-control">  
                </div>
                <div class="form-group col-sx-12 col-sm-4">
                    <label>MaxLevel</label>
                    <input type="number" name="level" [(ngModel)]="characterClass.levels" class="form-control"
                        max="30" min="1"
                        (keyup)="updatePreviewTable()"
                        (click)="updatePreviewTable()">    
                </div>

                <div class="form-group col-sx-12 col-sm-4">
                    <label>Hit-dice</label>
                    <select name="input-hit-dice" id="hit-dice" [(ngModel)]="characterClass.hitDice" class="form-control">
                        <option [value]="dice.faces" [label]="'D'.concat(dice.faces)" *ngFor="let dice of availableHitDices"></option>
                    </select>
                </div>

                <div class="form-group col-sx-12 col-sm-4">
                    <label>Type</label>
                    <select name="input-type" id="type" [(ngModel)]="characterClass.type" class="form-control">
                        <option [value]="classType" [label]="classType" *ngFor="let classType of this.ruleBook.classType"></option>
                    </select>
                </div>
            </div>

            <label>Saving Throws</label>
            <div class="row option-container">
                <div class="col-xs-4">
                    Fortitude
                </div>
                <div class="col-xs-8 text-right">
                    <toggle-button 
                        [(value)]="characterClass.savingThrows.fortitude" 
                        [options]="ruleBook.savingThrowsBonusType"
                        (click)="updatePreviewTable()"
                        [fixedButtonWidth]=60
                        [fixedComponentWidth]=200>
                    </toggle-button>
                </div>
            </div>
            <div class="row option-container">
                <div class="col-xs-4">
                    Reflex
                </div>
                <div class="col-xs-8 text-right">
                    <toggle-button 
                        [(value)]="characterClass.savingThrows.reflex" 
                        [options]="ruleBook.savingThrowsBonusType"
                        (click)="updatePreviewTable()"
                        [fixedButtonWidth]=60
                        [fixedComponentWidth]=200>
                    </toggle-button>
                </div>
            </div>
            <div class="row option-container">
                <div class="col-xs-4">
                    Will
                </div>
                <div class="col-xs-8 text-right">
                    <toggle-button 
                        [(value)]="characterClass.savingThrows.will" 
                        [options]="ruleBook.savingThrowsBonusType"
                        (click)="updatePreviewTable()"
                        [fixedButtonWidth]=60
                        [fixedComponentWidth]=200>
                    </toggle-button>
                </div>
            </div>
            <label>Attack Bonus Base</label>
            <div class="row option-container">
                <div class="col-xs-4">
                    Attack Bonus
                </div>
                <div class="col-xs-8 text-right">
                    <toggle-button 
                        [(value)]="characterClass.baseAttackBonus" 
                        [options]="ruleBook.attackBonusType"
                        (click)="updatePreviewTable()"
                        [fixedButtonWidth]=60
                        [fixedComponentWidth]=200>
                    </toggle-button>
                </div>
            </div>
            <div class="button-container">
                <button type="button" class="btn btn-success" (click)="classSave()">Save</button>
                <button type="button" class="btn btn-warning" (click)="cancelEdit()">Cancel</button>
            </div>     
        </form>
    </div>

    <div class="col-sx-12 col-md-7" *ngIf="initComplete">
        <class-form-table-preview
            [characterClass]="characterClass"
            [rowClickable]="true"
            (rowClickAction)="editSpecials($event)"
            >
        </class-form-table-preview>
        <div class="alert alert-info"><i class="fa fa-info-circle" aria-hidden="true"></i> Click on a row to edit Special Abilities.</div>
    </div>

    <app-modal
        id="classSpecialsModal"
        title="Select Specials"
        [hideCloseBtn]="true"
        [hideXBtn]="true"
        [hideHeader]="true"
        [buttons]="[]">
        <app-special-abilities title="Class Progression Preview" [tableIsSelectable]="true" (returnedSelection)="onSpecialAbilitiesSelected($event)"></app-special-abilities>
    </app-modal>

</div>