.header{
    background-color: black;
    color: white;
}
ul li {
    text-decoration: none;
    list-style: none;
}
.subtitle {
    background-color: black;
    color:white;
    text-align: center;
    width:80px;
    height: 50px;
   

}

.subtitle > h5 {
    margin-top:0;
}
.subtitle > h4{
    padding-top: 10%;
    margin-bottom: 0;    
}

.td-abilities-sub-adj {
    width:80px;
}
.number-input-layout{
    width: 50px;
    font-size: 150%;
    margin-top:6%;
    height: 50px;
    text-align: center;
    
}
.long-input-text{

}
.medium-input-text{
    width: 100px;
}
.short-input-text{
    width: 80px;
    
}
table{
    margin-left: 40px;
    margin-top: 10px;
    border-top: 2px solid #ddd;
}

thead >tr > th >p {
    font-size: 10px;
    margin-bottom: 0;
}

