<div class="container">
    <div class="header visible-lg">
        <h2>Caracter Sheet</h2>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4 col-md-push-8">
            <img src="https://upload.wikimedia.org/wikipedia/de/thumb/4/43/D%26d-3thedit-logo.svg/2000px-D%26d-3thedit-logo.svg.png" class="img-responsive" alt="">

        </div>
        <div class="col-sm-6 col-md-4 col-md-pull-4">
            <div class="row">   
                <div class="col-md-12">
                    <input [(ngModel)]="character.firstName" class="input-block from-control base-border" type="text" >                   
                    <label > Character name </label>
                </div>
                <div class="col-md-12"><input class="input-block from-control base-border" type="text"><label> Class and level </label></div>
                <div class="col-xs-3 col-sm-3 col-md-3"><input class="input-block from-control base-border" type="text"><label> Size </label></div>
                <div class="col-xs-3 col-sm-3 col-md-3"><input class="input-block from-control base-border" type="text"><label> Age </label></div>
                <div class="col-xs-3 col-sm-3 col-md-3"><input class="input-block from-control base-border" type="text"><label> Gender </label></div>
                <div class="col-xs-3 col-sm-3 col-md-3"><input class="input-block from-control base-border" type="text"><label> Heigth </label></div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-md-pull-4"> 
            <div class="row">  
                <div class="col-md-12"><input class="input-block from-control base-border" type="text"><label> Player </label></div>
                <div class="col-xs-4 col-sm-4 col-md-4"><input class="input-block from-control base-border" type="text"><label> Race</label></div>
                <div class="col-xs-4 col-sm-4 col-md-4"><input class="input-block from-control base-border" type="text"><label> Alignment </label></div>
                <div class="col-xs-4 col-sm-4 col-md-4"><input class="input-block from-control base-border" type="text"><label> Deity </label></div>
                <div class="col-xs-3 col-sm-3 col-md-3"><input class="input-block from-control base-border" type="text"><label> Wheight </label></div>
                <div class="col-xs-3 col-sm-3 col-md-3"><input class="input-block from-control base-border" type="text"><label> Eyes </label></div>
                <div class="col-xs-3 col-sm-3 col-md-3"><input class="input-block from-control base-border" type="text"><label> Hair </label></div>
                <div class="col-xs-3 col-sm-3 col-md-3"><input class="input-block from-control base-border" type="text"><label> Skin</label></div>
            </div>
        </div>

    </div>
    <div class="double-spacer row">

        <div class="col-sm-6 col-md-4">
            <div>
                <table class="table table-sm table-bordered table-responsive-sm text-center" id="abilityTab">
                    <caption style="text-align:center">Abilities</caption>
                    <thead >
                        <tr>
                            <th class="centered" scope="col">Name</th>
                            <th class="centered" scope="col">Score</th>
                            <th class="centered" scope="col">Temp</th>
                            <th class="centered" scope="col">Mod</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr>
                            <th class="centered" scope="row">
                                STR
                            </th>
                            <td>
                                <input class="ability-input no-border" [(ngModel)]="character.abilities.strength">
                            </td>
                            <td>
                                <input class="ability-input no-border" readonly="true" value="Temp">
                            </td>
                            <td>
                                <input class="ability-input no-border" readonly="true" value="Mod">
                            </td>
                        </tr>
                        <tr>
                            <th class="centered" scope="row">
                                DEX
                            </th>
                            <td>
                                <input class="ability-input no-border" [(ngModel)]="character.abilities.dexterity">
                            </td>
                            <td>
                                <input class="ability-input no-border" readonly="true" value="Temp">
                            </td>
                            <td>
                                <input class="ability-input no-border" readonly="true" value="Mod">
                            </td>
                        </tr>
                        <tr>
                            <th class="centered" scope="row">
                                CON
                            </th>
                            <td>
                                <input class="ability-input no-border" [(ngModel)]="character.abilities.constitution">
                            </td>
                            <td>
                                <input class="ability-input no-border" readonly="true" value="Temp">
                            </td>
                            <td>
                                <input class="ability-input no-border" readonly="true" value="Mod">
                            </td>
                        </tr>
                        <tr>
                            <th class="centered" scope="row">
                                INT
                            </th>
                            <td>
                                <input class="ability-input no-border" [(ngModel)]="character.abilities.intelligence">
                            </td>
                            <td>
                                <input class="ability-input no-border" readonly="true" value="Temp">
                            </td>
                            <td>
                                <input class="ability-input no-border" readonly="true" value="Mod">
                            </td>
                        </tr>
                        <tr>
                            <th class="centered" scope="row">
                                WIS
                            </th>
                            <td>
                                <input class="ability-input no-border" [(ngModel)]="character.abilities.wisdom">
                            </td>
                            <td>
                                <input class="ability-input no-border" readonly="true" value="Temp">
                            </td>
                            <td>
                                <input class="ability-input no-border" readonly="true" value="Mod">
                            </td>
                        </tr>
                        <tr>
                            <th class="centered" scope="row">
                                CHA
                            </th>
                            <td>
                                <input class="ability-input no-border" [(ngModel)]="character.abilities.charisma">
                            </td>
                            <td>
                                <input class="ability-input no-border" readonly="true" value="Temp">
                            </td>
                            <td>
                                <input class="ability-input no-border" readonly="true" value="Mod">
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>     
        </div>
            
       
        <div class="col-xs-6 col-sm-6 col-md-3">
            <div class="small-subtitle-layout row row-adj">
                <div class="col-xs-2 col-sm-2 col-md-2">
                    <label class="subtitle-label" for="hit-poits-total">Total</label>              
                </div>
                <div class="col-xs-2 col-sm-2 col-md-6">
                    <label class="subtitle-label" for="hit-poits-current">Wound/Current HP</label>             
                </div>
            </div>
            <div class="row row-adj">
                <div id="hit-poits" class="standard-spacer col-xs-4 col-sm-4 col-md-4 subtitle">
                    <h4>HP</h4>
                </div>
                <div id="hit-poits-total" class="standard-spacer col-xs-2 col-sm-2 col-md-2">

                    <div class="input-group input-div-layout">
                        <input class="hp-input" [ngModel]="hp" type="number" placeholder="10">
                    </div> 
                </div>
                <div class="standard-spacer col-xs-2 col-sm-2 col-md-6">

                    <div id="hit-poits-current" class="input-group">
                        <input  type="number" [(ngModel)]="current" (OnChange)="updatedHp(newValue)"  placeholder="10">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" [style.width]="current + '%'" aria-valuenow="0"  aria-valuemin="0" aria-valuemax="hp">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <ng-container *ngIf="skills">
                <div class="tableScroll" infiniteScroll [infiniteScrollDistance]="2" 
                [infiniteScrollThrottle]="300" (scrolled)="onScroll()" [scrollWindow]="false">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Skills</th>
                                <th scope="col">Mod</th>
                                <th scope="col">Training</th>
                                <th scope="col">Rank</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr *ngFor="let skill of skills">
                                <th scope="row">
                                    {{skill.name}}
                                </th>
                                <td>
                                    {{skill.modifier}}
                                </td>
                                <td [textContent]="skill.trainedOnly ? 'Y' : 'N'">

                                </td>
                                <td>
                                    <input type="number" min="0" max="23" [(ngModel)]="skill.rank">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>    
            </ng-container> 
        </div>
    </div>
 
   <div><button class="button" (click)="save()"> SALVA CAZZO   </button></div>
</div>



