<div>I'm the dice Helper!!</div>

<div class="container">
    <div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <input type="text" class="form-control" id="textroll" placeholder="Roll command line">
            </div>
            <div class="col-xs-6 col-sm-3">
                <button class="btn btn-success btn-block" (click)="rollAll()">Roll All</button>
            </div>
            <div class="col-xs-6 col-sm-3">
                <button class="btn btn-warning btn-block" (click)="resetDices('all',false)">Reset All</button>
            </div>
        </div>
        <div class="dice-container">

            <!--D4-->
            <div class="row roll-results">
                <div class="col-sx-12 col-sm-5">
                    <div class="input-group">
                        <span class="input-group-addon dice-span">D4</span>
                        <input id="d4N" [(ngModel)]="d4N" type="number" class="form-control" placeholder="Number of dice to roll" value={{d4N}} min="0">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary"><i class="fa fa-minus" aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-primary" (click)="spinnerHelper(true,e)"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-sx-12 col-sm-5">
                    <div class="input-group">
                        <span class="input-group-addon dice-span">+</span>
                        <input id="d4fixed" [(ngModel)]="d4Add" type="number" class="form-control" placeholder="Number of dice to roll" value={{d4Add}} min="0">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary"><i class="fa fa-minus" aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-sx-12 col-sm-2">
                    <button class="btn btn-success btn-block" (click)="rollD4()">Roll</button>
                </div>
            </div>
            <div class="row roll-results" *ngIf="d4Rolled.length > 0">
                <div class="col-sx-12 col-sm-8">
                    <span class="label label-default dice text-center" *ngFor="let d4Rolled of d4Rolled"><span class="dice-value">{{d4Rolled}}</span></span>
                </div>
                <div class="col-sx-12 col-sm-4">
                    <h3>Total: {{d4RolledTotal}} + {{d4Added}} = <b>{{d4Total}}</b></h3>
                </div>
            </div>

            <!--D6-->
            <div class="row roll-results">
                <div class="col-sx-12 col-sm-5">
                    <div class="input-group">
                        <span class="input-group-addon dice-span">D6</span>
                        <input id="d6N" [(ngModel)]="d6N" type="number" class="form-control" placeholder="Number of dice to roll" value={{d6N}} min="0">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary"><i class="fa fa-minus" aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-primary" (click)="spinnerHelper(true,e)"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-sx-12 col-sm-5">
                    <div class="input-group">
                        <span class="input-group-addon dice-span">+</span>
                        <input id="d6fixed" [(ngModel)]="d6Add" type="number" class="form-control" placeholder="Number of dice to roll" value={{d6Add}} min="0">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary"><i class="fa fa-minus" aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-sx-12 col-sm-2">
                    <button class="btn btn-success btn-block" (click)="rollD6()">Roll</button>
                </div>
            </div>
            <div class="row roll-results" *ngIf="d6Rolled.length > 0">
                <div class="col-sx-12 col-sm-8">
                    <span class="label label-default dice text-center" *ngFor="let d6Rolled of d6Rolled"><span class="dice-value">{{d6Rolled}}</span></span>
                </div>
                <div class="col-sx-12 col-sm-4">
                    <h3>Total: {{d6RolledTotal}} + {{d6Added}} = <b>{{d6Total}}</b></h3>
                </div>
            </div>

            <!--D8-->
            <div class="row roll-results">
                <div class="col-sx-12 col-sm-5">
                    <div class="input-group">
                        <span class="input-group-addon dice-span">D8</span>
                        <input id="d8N" [(ngModel)]="d8N" type="number" class="form-control" placeholder="Number of dice to roll" value={{d8N}} min="0">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary"><i class="fa fa-minus" aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-primary" (click)="spinnerHelper(true,e)"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-sx-12 col-sm-5">
                    <div class="input-group">
                        <span class="input-group-addon dice-span">+</span>
                        <input id="d8fixed" [(ngModel)]="d8Add" type="number" class="form-control" placeholder="Number of dice to roll" value={{d8Add}} min="0">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary"><i class="fa fa-minus" aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-sx-12 col-sm-2">
                    <button class="btn btn-success btn-block" (click)="rollD8()">Roll</button>
                </div>
            </div>
            <div class="row roll-results" *ngIf="d8Rolled.length > 0">
                <div class="col-sx-12 col-sm-8">
                    <span class="label label-default dice text-center" *ngFor="let d8Rolled of d8Rolled"><span class="dice-value">{{d8Rolled}}</span></span>
                </div>
                <div class="col-sx-12 col-sm-4">
                    <h3>Total: {{d8RolledTotal}} + {{d8Added}} = <b>{{d8Total}}</b></h3>
                </div>
            </div>

            <!--D10-->
            <div class="row roll-results">
                <div class="col-sx-12 col-sm-5">
                    <div class="input-group">
                        <span class="input-group-addon dice-span">D10</span>
                        <input id="d10N" [(ngModel)]="d10N" type="number" class="form-control" placeholder="Number of dice to roll" value={{d10N}} min="0">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary"><i class="fa fa-minus" aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-primary" (click)="spinnerHelper(true,e)"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-sx-12 col-sm-5">
                    <div class="input-group">
                        <span class="input-group-addon dice-span">+</span>
                        <input id="d10fixed" [(ngModel)]="d10Add" type="number" class="form-control" placeholder="Number of dice to roll" value={{d10Add}} min="0">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary"><i class="fa fa-minus" aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-sx-12 col-sm-2">
                    <button class="btn btn-success btn-block" (click)="rollD10()">Roll</button>
                </div>
            </div>
            <div class="row roll-results" *ngIf="d10Rolled.length > 0">
                <div class="col-sx-12 col-sm-8">
                    <span class="label label-default dice text-center" *ngFor="let d10Rolled of d10Rolled"><span class="dice-value">{{d10Rolled}}</span></span>
                </div>
                <div class="col-sx-12 col-sm-4">
                    <h3>Total: {{d10RolledTotal}} + {{d10Added}} = <b>{{d10Total}}</b></h3>
                </div>
            </div>

            <!--D12-->
            <div class="row roll-results">
                <div class="col-sx-12 col-sm-5">
                    <div class="input-group">
                        <span class="input-group-addon dice-span">D12</span>
                        <input id="d12N" [(ngModel)]="d12N" type="number" class="form-control" placeholder="Number of dice to roll" value={{d12N}} min="0">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary"><i class="fa fa-minus" aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-primary" (click)="spinnerHelper(true,e)"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-sx-12 col-sm-5">
                    <div class="input-group">
                        <span class="input-group-addon dice-span">+</span>
                        <input id="d12fixed" [(ngModel)]="d12Add" type="number" class="form-control" placeholder="Number of dice to roll" value={{d12Add}} min="0">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary"><i class="fa fa-minus" aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-sx-12 col-sm-2">
                    <button class="btn btn-success btn-block" (click)="rollD12()">Roll</button>
                </div>
            </div>
            <div class="row roll-results" *ngIf="d12Rolled.length > 0">
                <div class="col-sx-12 col-sm-8">
                    <span class="label label-default dice text-center" *ngFor="let d12Rolled of d12Rolled"><span class="dice-value">{{d12Rolled}}</span></span>
                </div>
                <div class="col-sx-12 col-sm-4">
                    <h3>Total: {{d12RolledTotal}} + {{d12Added}} = <b>{{d12Total}}</b></h3>
                </div>
            </div>

            <!--D20-->
            <div class="row roll-results">
                <div class="col-sx-12 col-sm-5">
                    <div class="input-group">
                        <span class="input-group-addon dice-span">D20</span>
                        <input id="d20N" [(ngModel)]="d20N" type="number" class="form-control" placeholder="Number of dice to roll" value={{d20N}} min="0">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary"><i class="fa fa-minus" aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-primary" (click)="spinnerHelper(true,e)"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-sx-12 col-sm-5">
                    <div class="input-group">
                        <span class="input-group-addon dice-span">+</span>
                        <input id="d20fixed" [(ngModel)]="d20Add" type="number" class="form-control" placeholder="Number of dice to roll" value={{d20Add}} min="0">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary"><i class="fa fa-minus" aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-sx-12 col-sm-2">
                    <button class="btn btn-success btn-block" (click)="rollD20()">Roll</button>
                </div>
            </div>
            <div class="row roll-results" *ngIf="d20Rolled.length > 0">
                <div class="col-sx-12 col-sm-8">
                    <span class="label label-default dice text-center" *ngFor="let d20Rolled of d20Rolled"><span class="dice-value">{{d20Rolled}}</span></span>
                </div>
                <div class="col-sx-12 col-sm-4">
                    <h3>Total: {{d20RolledTotal}} + {{d20Added}} = <b>{{d20Total}}</b></h3>
                </div>
            </div>

            <!--D100-->
            <div class="row roll-results">
                <div class="col-sx-12 col-sm-5">
                    <div class="input-group">
                        <span class="input-group-addon dice-span">D100</span>
                        <input id="d100N" [(ngModel)]="d100N" type="number" class="form-control" placeholder="Number of dice to roll" value={{d100N}} min="0">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary"><i class="fa fa-minus" aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-primary" (click)="spinnerHelper(true,e)"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-sx-12 col-sm-5">
                    <div class="input-group">
                        <span class="input-group-addon dice-span">+</span>
                        <input id="d100fixed" [(ngModel)]="d100Add" type="number" class="form-control" placeholder="Number of dice to roll" value={{d100Add}} min="0">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary"><i class="fa fa-minus" aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-sx-12 col-sm-2">
                    <button class="btn btn-success btn-block" (click)="rollD100()">Roll</button>
                </div>
            </div>
            <div class="row roll-results" *ngIf="d100Rolled.length > 0">
                <div class="col-sx-12 col-sm-8">
                    <span class="label label-default dice text-center" *ngFor="let d100Rolled of d100Rolled"><span class="dice-value">{{d100Rolled}}</span></span>
                </div>
                <div class="col-sx-12 col-sm-4">
                    <h3>Total: {{d100RolledTotal}} + {{d100Added}} = <b>{{d100Total}}</b></h3>
                </div>
            </div>

            <!--DCustom-->
            <div class="row roll-results">
                <div class="col-sx-12 col-sm-5">
                    <div class="input-group">
                        <span class="input-group-addon dice-span">D2</span>
                        <input id="dCustomN" [(ngModel)]="dCustomN" type="number" class="form-control" placeholder="Number of dice to roll" value={{dCustomN}} min="0">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary"><i class="fa fa-minus" aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-primary" (click)="spinnerHelper(true,e)"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-sx-12 col-sm-5">
                    <div class="input-group">
                        <span class="input-group-addon dice-span">+</span>
                        <input id="dCustomfixed" [(ngModel)]="dCustomAdd" type="number" class="form-control" placeholder="Number of dice to roll" value={{dCustomAdd}} min="0">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary"><i class="fa fa-minus" aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-sx-12 col-sm-2">
                    <button class="btn btn-success btn-block" (click)="rollDCustom()">Roll</button>
                </div>
            </div>
            <div class="row roll-results" *ngIf="dCustomRolled.length > 0">
                <div class="col-sx-12 col-sm-8">
                    <span class="label label-default dice text-center" *ngFor="let dCustomRolled of dCustomRolled"><span class="dice-value">{{dCustomRolled}}</span></span>
                </div>
                <div class="col-sx-12 col-sm-4">
                    <h3>Total: {{dCustomRolledTotal}} + {{dCustomAdded}} = <b>{{dCustomTotal}}</b></h3>
                </div>
            </div>

            <div class="footer text-right">
                <h3 *ngIf="totalRoll > 0"><span class="label label-info text-center btn-block">Total Roll: {{totalRoll}}</span></h3>
            </div>
        </div>
    </div>
</div>