.header{
    background-color: black;
    color: white;
}
ul, li {
    text-decoration: none;
    list-style: none;
    margin:0;
    padding:0;
}

.base-border {
    border: 0;
    border-bottom: 1px solid black;
    box-shadow: none;
}
.subtitle {
    
    background-color: black;
    color:white;
    text-align: center;
    font-weight: bolder;
    width:80px;
    height: 50px;
}
.small-subtitle-layout {
    
    text-align: center;
}

.input-div-layout{
    text-align: center;
}

.subtitle > h5 {
    margin-top:0;
}
.subtitle > h4{
    padding-top: 10%;
    margin-bottom: 0;    
}

.td-abilities-sub-adj {
    width:80px;
    
}
.number-input-layout{
    width: 50px;
    font-size: 150%;
    margin-top: 10px;
    height: 50px;
    text-align: center;
    
}
.input-block{
    display: block;
    width: 100%;

}

table{
    margin-left: 40px;
    margin-top: 10px;
    border-top: 2px solid #ddd;
}

thead >tr > th >p {
    font-size: 10px;
    margin-bottom: 0;
}

