
<h2>Character sheet</h2>

<div class="table-responsive">   
    <table class="table table-stripped table-hover">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Race
                </th>
                <th>
                    Class
                </th>
                <th>
                    Level
                </th>
                <th>
                    Campaigns
                </th>
                <th>
                    Select
                </th>
                <th>
                    Edit
                </th>
                <th>
                    Remove
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let character of characters">
                <td>
                    {{character.name}}
                </td>
                <td>
                    {{character.race}}
                </td>
                <td>
                    <span>{{pgClass.classes}}</span>
                </td>
                <td>
                    11
                </td>
                <td>
                    War of the Lance
                </td>
                <td>
                    <button (click)="onSelect(character)" class="btn btn-info">
                        select
                    </button>
                </td>
                <td>
                    <button class="btn btn-info">
                        edit
                    </button>
                </td>
                <td>
                    <button class="btn btn-info">
                        remove
                    </button>
                </td>                
            </tr>
        </tbody> 
    </table>
</div>