<div class="container">
    <div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <input type="text" class="form-control" id="textroll" placeholder="Roll command line">
            </div>
            <div class="col-xs-6 col-sm-3">
                <button class="btn btn-success btn-block" (click)="rollAll()">Roll All</button>
            </div>
            <div class="col-xs-6 col-sm-3">
                <button class="btn btn-warning btn-block" (click)="resetDices('all',false)">Reset All</button>
            </div>
        </div>
        
        <div class="dice-container">
            <div *ngFor="let dice of dicesSet">
                <dice-input [dice]="dice" [quantity]="0" [modifier]="0" [showRollButton]="true" (notify)="onNotify($event)" ngDefaultControl></dice-input>
            </div>
        </div>




        <div class="footer text-right">
            <h3 *ngIf="totalRoll > 0"><span class="label label-info text-center btn-block">Total Roll: {{totalRoll}}</span></h3>
        </div>
    </div>
</div>