<div class="container">
    <div class="header visible-lg">
        <h2>Caracter Sheet</h2>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4 col-md-push-8">
            <img src="https://upload.wikimedia.org/wikipedia/de/thumb/4/43/D%26d-3thedit-logo.svg/2000px-D%26d-3thedit-logo.svg.png" class="img-responsive" alt="">

        </div>
        <div class="col-sm-6 col-md-4 col-md-pull-4">
            <div class="row">   
                <div class="col-md-12"><input [ngModel]="character.firstName" class="input-block from-control base-border" type="text" ><label> Character name </label></div>
                <div class="col-md-12"><input class="input-block from-control base-border" type="text"><label> Class and level </label></div>
                <div class="col-xs-3 col-sm-3 col-md-3"><input class="input-block from-control base-border" type="text"><label> Size </label></div>
                <div class="col-xs-3 col-sm-3 col-md-3"><input class="input-block from-control base-border" type="text"><label> Age </label></div>
                <div class="col-xs-3 col-sm-3 col-md-3"><input class="input-block from-control base-border" type="text"><label> Gender </label></div>
                <div class="col-xs-3 col-sm-3 col-md-3"><input class="input-block from-control base-border" type="text"><label> Heigth </label></div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-md-pull-4"> 
            <div class="row">  
                <div class="col-md-12"><input class="input-block from-control base-border" type="text"><label> Player </label></div>
                <div class="col-xs-4 col-sm-4 col-md-4"><input class="input-block from-control base-border" type="text"><label> Race</label></div>
                <div class="col-xs-4 col-sm-4 col-md-4"><input class="input-block from-control base-border" type="text"><label> Alignment </label></div>
                <div class="col-xs-4 col-sm-4 col-md-4"><input class="input-block from-control base-border" type="text"><label> Deity </label></div>
                <div class="col-xs-3 col-sm-3 col-md-3"><input class="input-block from-control base-border" type="text"><label> Wheight </label></div>
                <div class="col-xs-3 col-sm-3 col-md-3"><input class="input-block from-control base-border" type="text"><label> Eyes </label></div>
                <div class="col-xs-3 col-sm-3 col-md-3"><input class="input-block from-control base-border" type="text"><label> Hair </label></div>
                <div class="col-xs-3 col-sm-3 col-md-3"><input class="input-block from-control base-border" type="text"><label> Skin</label></div>
            </div>
        </div>

    </div>
    <div class="double-spacer row">

        <div class="col-sm-6 col-md-4">
            <div class="row"> 
                <div class="col-sm-12 col-md-12"> 
                    <div class="standard-spacer row">  
                        <div class="col-xs-3 col-sm-3 col-md-3"><input class="input-block from-control " type="text"><label> STR </label></div>
                        <div class="col-xs-3 col-sm-3 col-md-3"><input class="input-block from-control " type="text"><label> Score </label></div>
                        <div class="col-xs-3 col-sm-3 col-md-3"><input class="input-block from-control " type="text"><label> Temp </label></div>
                        <div class="col-xs-3 col-sm-3 col-md-3"><input class="input-block from-control " type="text"><label> Mod </label></div>
                    </div>
                    <div class="standard-spacer row">   

                        <div class="col-xs-3 col-sm-3 col-md-3"><input class="input-block from-control " type="text"><label> DEX </label></div>
                        <div class="col-xs-3 col-sm-3 col-md-3"><input class="input-block from-control " type="text"><label> Score </label></div>
                        <div class="col-xs-3 col-sm-3 col-md-3"><input class="input-block from-control " type="text"><label> Temp </label></div>
                        <div class="col-xs-3 col-sm-3 col-md-3"><input class="input-block from-control " type="text"><label> Mod </label></div>
                    </div>
                    <div class="standard-spacer row">   
                        <div class="col-xs-3 col-sm-3 col-md-3"><input class="input-block from-control " type="text"><label> CON </label></div>
                        <div class="col-xs-3 col-sm-3 col-md-3"><input class="input-block from-control " type="text"><label> Score </label></div>
                        <div class="col-xs-3 col-sm-3 col-md-3"><input class="input-block from-control " type="text"><label> Temp </label></div>
                        <div class="col-xs-3 col-sm-3 col-md-3"><input class="input-block from-control " type="text"><label> Mod </label></div>
                    </div>
                    <div class="standard-spacer row">   
                        <div class="col-xs-3 col-sm-3 col-md-3"><input class="input-block from-control " type="text"><label> WIS </label></div>
                        <div class="col-xs-3 col-sm-3 col-md-3"><input class="input-block from-control " type="text"><label> Score </label></div>
                        <div class="col-xs-3 col-sm-3 col-md-3"><input class="input-block from-control " type="text"><label> Temp </label></div>
                        <div class="col-xs-3 col-sm-3 col-md-3"><input class="input-block from-control " type="text"><label> Mod </label></div>
                    </div>
                    <div class="standard-spacer row">   
                        <div class="col-xs-3 col-sm-3 col-md-3"><input class="input-block from-control " type="text"><label> INT </label></div>
                        <div class="col-xs-3 col-sm-3 col-md-3"><input class="input-block from-control " type="text"><label> Score </label></div>
                        <div class="col-xs-3 col-sm-3 col-md-3"><input class="input-block from-control " type="text"><label> Temp </label></div>
                        <div class="col-xs-3 col-sm-3 col-md-3"><input class="input-block from-control " type="text"><label> Mod </label></div>
                    </div>
                    <div class="standard-spacer row">   
                        <div class="col-xs-3 col-sm-3 col-md-3"><input class="input-block from-control " type="text"><label> CHA </label></div>
                        <div class="col-xs-3 col-sm-3 col-md-3"><input class="input-block from-control " type="text"><label> Score </label></div>
                        <div class="col-xs-3 col-sm-3 col-md-3"><input class="input-block from-control " type="text"><label> Temp </label></div>
                        <div class="col-xs-3 col-sm-3 col-md-3"><input class="input-block from-control " type="text"><label> Mod </label></div>
                    </div>
                </div>
            </div>
        </div>
            
       
        <div class="col-xs-6 col-sm-6 col-md-4">
            <div class="small-subtitle-layout row row-adj">
                <div class="col-xs-2 col-sm-2 col-md-2">
                    <label class="subtitle-label" for="hit-poits-total">Total</label>              
                </div>
                <div class="col-xs-2 col-sm-2 col-md-6">
                    <label class="subtitle-label" for="hit-poits-current">Wound/Current HP</label>             
                </div>
            </div>
            <div class="row row-adj">
                <div id="hit-poits" class="standard-spacer col-xs-4 col-sm-4 col-md-4 subtitle">
                    <h4>HP</h4>
                </div>
                <div id="hit-poits-total" class="standard-spacer col-xs-2 col-sm-2 col-md-2">

                    <div class="input-group input-div-layout">
                        <input class="hp-input" [ngModel]="hp" type="number" placeholder="10">
                    </div> 
                </div>
                <div class="standard-spacer col-xs-2 col-sm-2 col-md-6">

                    <div id="hit-poits-current" class="input-group">
                        <input  type="number" [(ngModel)]="current" (OnChange)="updatedHp(newValue)"  placeholder="10">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" [style.width]="current + '%'" aria-valuenow="0"  aria-valuemin="0" aria-valuemax="hp">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4">
            <table class="table table-hover">
                <thead>
                    <th>Name</th>
                    <th>Total</th>
                    <th>Rank</th>
                    <th>Ability</th>
                    <th>TrainOnly</th>
                    <th>Sinergies</th>
                </thead>
                <tbody>
                    <tr  *ngFor="let skill of skills">
                        <td>
                            {{skill.name}}
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            <input type="number" min="0" class="input-block from-control base-border">
                        </td>
                        <td>
                            {{skill.modifier}}
                        </td>
                        <td>
                            {{skill.TrainOnly}} 
                        </td>
                        <td>
                            {{skill.Sinergies}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
   
</div>



