
<h1>Please fill this lovely form</h1>

<div class="row">
    <div class="col-sx-12 col-sm-6 col-md-6">
        <form #classForm = "ngForm" (ngSubmit)="onSubmit()" class="">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Name</span>
                <input type="text" name="name" [(ngModel)]="characterClass.name" class="form-control" aria-describedby="basic-addon1">  
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon2">MaxLevel</span>
                <input type="text" class="form-control" aria-describedby="basic-addon2">  
            </div> 
            <div class="input-group">
                <span>Saving Throws</span>
                <label class="checkbox-inline"><input type="checkbox" value="">Fast</label>
                <label class="checkbox-inline"><input type="checkbox" value="">Slow</label>
            </div>        
            <button type="submit">Ciao</button>
        </form>
    </div>
</div>