<div class="container-fluid">
    <div class="header visible-lg">
        <h2>Caracter Sheet</h2>
    </div>
    <div class="row">
        <div class="col-md-4">   
            <ul>
                <li><input class="long-input-text from-control base-border" type="text"><p> Character name </p></li>
                <li><input class="long-input-text from-control base-border" type="text"><p> Class and level </p></li>
                <li><ul class="nav nav-tabs nav-justified">
                    <li><input class="short-input-text from-control base-border" type="text"><p> Size </p></li>
                    <li><input class="short-input-text from-control base-border" type="text"><p> Age </p></li>
                    <li><input class="short-input-text from-control base-border" type="text"><p> Gender </p></li>
                    <li><input class="short-input-text from-control base-border" type="text"><p> Heigth </p></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-4">   
            <ul>
                <li><input class="long-input-text from-control base-border" type="text"><p> Player </p></li>
                <li>
                    <ul class="nav nav-tabs nav-justified">
                    <li><input class="medium-input-text from-control base-border" type="text"><p> Race</p></li>
                    <li><input class="medium-input-text from-control base-border" type="text"><p> Allignment </p></li>
                    <li><input class="medium-input-text from-control base-border" type="text"><p> Deity </p></li>
                    </ul>
                </li>
                <li>
                    <ul class="nav nav-tabs nav-justified">
                    <li><input class="short-input-text from-control base-border" type="text"><p> Wheight </p></li>
                    <li><input class="short-input-text from-control base-border" type="text"><p> Eyes </p></li>
                    <li><input class="short-input-text from-control base-border" type="text"><p> Hair </p></li>
                    <li><input class="short-input-text from-control base-border" type="text"><p> Skin</p></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <img src="https://upload.wikimedia.org/wikipedia/de/thumb/4/43/D%26d-3thedit-logo.svg/2000px-D%26d-3thedit-logo.svg.png" class="img-responsive" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <table class="table">
                <thead>
                    <tr>
                        <th class="small-subtitle-layout">
                            <p>ability name </p>
                        </th>
                        <th class="small-subtitle-layout">
                            <p>ability score </p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="td-abilities-sub-adj">
                           
                                <div class="subtitle">
                                    <a data-toggle="modal" data-target="#myModal">
                                        <h4>STR</h4>
                                        <h5>Strenght</h5>
                                    </a>
                                </div>
                         <!--add modal-->
                        </td>
                        <td>
                            <div class="input-div-layout">
                                <input class="number-input-layout" type="number" placeholder="10">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-abilities-sub-adj">
                            <div class="subtitle">
                                <h4>DEX</h4>
                                <h5>Dexterity</h5>
                                
                            </div>
                            
                        </td>
                        <td>
                            <div class="input-div-layout">
                                <input class="number-input-layout" type="number" placeholder="10">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-abilities-sub-adj">
                            <div class="subtitle">
                                <h4>CON</h4>
                                <h5>Constitution</h5>
                                
                            </div>
                            
                        </td>
                        <td>
                            <div class="input-div-layout">
                                <input class="number-input-layout" type="number" placeholder="10">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-abilities-sub-adj">
                            <div class="subtitle">
                                <h4>INT</h4>
                                <h5>Intellect</h5>
                                
                            </div>
                            
                        </td>
                        <td>
                            <div class="input-div-layout">
                                <input class="number-input-layout" type="number" placeholder="10">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-abilities-sub-adj">
                            <div class="subtitle">
                                <h4>WIS</h4>
                                <h5>Wisdom</h5>
                                
                            </div>
                            
                        </td>
                        <td>
                            <div class="input-div-layout">
                                <input class="number-input-layout" type="number" placeholder="10">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-abilities-sub-adj">
                            <div class="subtitle">
                                <h4>CHA</h4>
                                <h5>Charisma</h5>
                                
                            </div>
                            
                        </td>
                        <td>
                            <div class="input-div-layout">
                                <input class="number-input-layout" type="number" placeholder="10">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </div>
        <div class="col-sm-6 col-md-3">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            
                        </th>
                        <th class="small-subtitle-layout">
                             <p>Total </p>    
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="td-abilities-sub-adj">
                            <div class="subtitle">
                                <h4>HP</h4>
                                <h5>Hit Points</h5>
                            </div>
                        </td>
                        <td>
                            <div class="input-div-layout">
                                <input class="number-input-layout" type="number" placeholder="10">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-abilities-sub-adj">
                            <div class="subtitle">
                                <h4>AC</h4>
                                <h5>Armor Class</h5>
                            </div>
                        </td>
                        <td>
                            <div class="input-div-layout">
                                <input class="number-input-layout" type="number" placeholder="10">
                            </div>
                        </td>
                    </tr>                    
                </tbody>  
            </table> 
        </div>    

    </div>
</div>
