<header class="main-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-9 col-sm-6">
                <img class="logo" src="/assets/images/logo_full.png" alt="">
                <h1>{{title}} {{ isLoggedIn }}</h1>
            </div>
            <div class="col-xs-3 col-sm-6 text-right">
                <nav class="hidden-xs user-nav">
                    <ul>
                        <li *ngIf="!isLoggedin">
                            <a [routerLink] = "['/login']">
                                Login
                            </a>
                        </li>
                        <li *ngIf="isLoggedin">
                            {{ userEmail }}
                        </li>
                        <li *ngIf="isLoggedin">
                            <a (click)="onLogout()">
                                Logout
                            </a>
                        </li>
                    </ul>
                </nav>
                <nav class="hidden-xs main-nav">
                    <ul>
                        <li *ngFor="let nav of main">
                            <a (click) = "onMenuClick(nav)">
                                {{ nav.name }}
                            </a>
                            <ul *ngIf="selected === nav">
                                <li *ngFor="let subNav of nav.children">
                                    <a (click) = "onMenuClick(subNav)">
                                        {{ subNav.name }}
                                    </a>
                                </li>        
                            </ul>
                        </li>
                    </ul>
                </nav>
                <span class="fa fa-bars fa-lg visible-xs"></span>
            </div>
        </div>
    </div>
</header>