<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <nav class="nav navbar-default">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-4">
              <div class="navbar-header">
                  <h4 style ="font-family:cursive; color:darkblue; font-style: oblique ">Initiative pool</h4>
              </div>
            </div>
            <div class="col-sm-4">
              <ul class="list-inline">
                <li>
                    <button class="btn btn-primary btn-sm" (click)="showPlayTurn()">Click to {{showTimeButton}}</button>
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul class="list-inline pull-right">
                <li>
                    <button class="btn btn-primary btn-sm" (click)="showPlayTurn()">Settings</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <hr>
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
            <span *ngIf="!charInfo && !formSelected">
              <div class="panel panel-default">
                <div class="col-sm-6">
                  <app-cockpit (characterAdded)="onCharacterAdded($event)"></app-cockpit>
                </div>
                <div class="col-sm-6">
                  <ul class="list-group">
                    <div>
                      <app-char-info-table [characterList]="characterList" 
                      (onRemove)="onCharacterRemoved($event)"
                      (onEdit)="onClickEdit($event)"  
                      [playTurn]="false"></app-char-info-table>
                    </div>
                  </ul>
                </div>
              </div>
            </span>
        </div>
        <div class="row">
          <span *ngIf="charInfo && !formSelected">
            <div class="panel panel-default">
              <div class="col-sm-6">
                <div class="col-sm-4">
                    <ul class="list-inline pull-left">
                        <li *ngIf="next || !next && previous"><button class="btn btn-sm btn-info" (click)="onClickNext()">Next</button></li>
                        <li *ngIf="next && previous"><button class="btn btn-sm btn-info"(click)="onClickPrevious()">Previous</button></li>
                        <li *ngIf="!next && previous"><button class="btn btn-sm btn-info">End Turn</button></li>
                    </ul>
                </div>
                <div>
                  <app-char-info-table [characterList]="characterList" 
                  (onMove)=onCharacterMoved($event) 
                  [playTurn]="true"></app-char-info-table>
                </div>
              </div>
              <div class="col-sm-6">    
                <app-turnplayer [characterList]="characterList"></app-turnplayer>
              </div>
            </div>
          </span>
        </div>               
        <span *ngIf="formSelected">
          <app-char-info-form  [characterInfo]="selectedCharacter" (statusForm)="onCancel()" (characterInfoOut)="onCharacterEdited()"></app-char-info-form>
        </span>
      </div>
    </div>
</div>


