<div>
    <h2>Edit Special Ability</h2>
    <form>
        <div class="form-group">
            <label for="specialName">Name</label>
            <input [(ngModel)]="name" class="form-control" id="specialName" placeholder="" [(value)]="name" name="input-special-name" required>
        </div>
        <div class="form-group">
            <label for="specialDescription">Full Description</label>
            <input [(ngModel)]="description" class="form-control" id="specialDescription" placeholder="" [(value)]="description" name="input-special-description" required>
        </div>

        <div class="text-right">
            <button type="submit" class="btn btn-success" (click)="specialSave()">Save</button>
            <button type="reset" class="btn btn-warning" (click)="cancelEdit($event)">Cancel</button>
        </div>     
    </form>
</div>
