<div *ngIf="character" class="container">
  <div class="header visible-lg">
      <h2>Caracter Sheet</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <app-character-details></app-character-details>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-4">
        <character-abilities-component [character]="character"></character-abilities-component>
      </div>
    </div>
    <hr>
    <button class="btn btn-primary" type="submit" (click)="onSubmit()"> Salva Cazzo! </button>
  </div>
</div>