    <div *ngIf="rulebook && race">
        <h2>Edit Race</h2>
        <form (submit)="raceSave()">
            <div class="form-group">
                <label for="raceName">Race Name</label>
                <input [(ngModel)]="race.name" class="form-control" id="raceName" placeholder="" [(value)]="race.name" name="input-race-name" required>
            </div>
            <div class="form-group">
                <label for="raceType">Type</label>
                <select [(ngModel)]="race.type" class="form-control" id="raceType" placeholder="" name="input-race-type" [(value)]="race.type" required="true">
                    <option [value]="item" [label]="item" *ngFor="let item of rulebook.raceType"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="raceSize">Size</label>
                <select [(ngModel)]="race.size" class="form-control" id="raceSize" placeholder="" name="input-race-size" [(value)]="race.size">
                    <option [value]="item" [label]="item" *ngFor="let item of rulebook.size"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="raceSpeed">Speed</label>
                <div class="row">
                    <div *ngFor="let speed of tempSpeeds" class="col-sx-12 col-sm-4">
                        <input-number [description]="speed.name" [(value)]="speed.value" [setMin]="0" [setMax]="100" [greenCondition]="1" ngDefaultControl name="input-race-speed"></input-number>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Abilities Modifiers</label>
                <div class="row">
                    <div class="col-sx-12 col-sm-4">
                        <input-number [(ngModel)]="race.abilitiesModifiers.strength" [description]="'STR'" [(value)]="race.abilitiesModifiers.strength" [setMin]="-10" [setMax]="10" ngDefaultControl name="input-race-str"></input-number>
                    </div>
                    <div class="col-sx-12 col-sm-4">
                        <input-number [(ngModel)]="race.abilitiesModifiers.dexterity" [description]="'DEX'" [(value)]="race.abilitiesModifiers.dexterity" [setMin]="-10" [setMax]="10" ngDefaultControl name="input-race-dex"></input-number>
                    </div>
                    <div class="col-sx-12 col-sm-4">
                        <input-number [(ngModel)]="race.abilitiesModifiers.constitution" [description]="'CON'" [(value)]="race.abilitiesModifiers.constitution" [setMin]="-10" [setMax]="10" ngDefaultControl name="input-race-con"></input-number>
                    </div>
                    <div class="col-sx-12 col-sm-4">
                        <input-number [(ngModel)]="race.abilitiesModifiers.intelligence" [description]="'INT'" [(value)]="race.abilitiesModifiers.intelligence" [setMin]="-10" [setMax]="10" ngDefaultControl name="input-race-int"></input-number>
                    </div>
                    <div class="col-sx-12 col-sm-4">
                        <input-number [(ngModel)]="race.abilitiesModifiers.wisdom" [description]="'WIS'" [(value)]="race.abilitiesModifiers.wisdom" [setMin]="-10" [setMax]="10" ngDefaultControl name="input-race-wis"></input-number>
                    </div>
                    <div class="col-sx-12 col-sm-4">
                        <input-number [(ngModel)]="race.abilitiesModifiers.charisma" [description]="'CHA'" [(value)]="race.abilitiesModifiers.charisma" [setMin]="-10" [setMax]="10" ngDefaultControl name="input-race-cha"></input-number>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-success">Save</button>
                <button type="button" class="btn btn-warning" (click)="cancelEdit()">Cancel</button>
            </div>     
        </form>
    </div>
