
<h2>Races List</h2>

<div class="table-responsive">   
    <table class="table table-stripped table-hover">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Type
                </th>
                <th>
                    Size
                </th>
                <th>
                    Abilities Modifiers
                </th>
                <th>
                    Options
                </th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="6">
                    <button class="btn btn-success">Add new race</button>
                </td>
            </tr>
        <tbody>
            <tr *ngFor="let race of races">
                <td>
                    {{race.name}}
                </td>
                <td>
                    {{race.type}}
                </td>
                <td>
                    {{race.size}}
                </td>
                <td>
                    <ul *ngFor="let ability of (race.abilitiesModifiers | format_race_abilities: race.abilitiesModifiers)">
                        <li>{{ability}}</li>
                    </ul>
                </td>
                <td>
                    <button class="btn btn-info">
                        edit
                    </button>
                    <button class="btn btn-info">
                        remove
                    </button>
                </td>                
            </tr>
        </tbody> 
    </table>

</div>