    <div>
        <h2>Edit Race</h2>
        <form>
            <div class="form-group">
                <label for="raceName">Race Name</label>
                <input class="form-control" id="raceName" placeholder="">
            </div>
            <div class="form-group">
                <label for="raceType">Type</label>
                <input class="form-control" id="raceType" placeholder="">
            </div>
            <div class="form-group">
                <label for="raceSize">Size</label>
                <select class="form-control" id="raceSize" placeholder="" *ngFor="let item of sizeEnum">
                    <option [value]="item" [label]="sizeEnum[item]"></option>
                </select>
            </div>     
        </form>
    </div>
