
<h2>Races List</h2>

<div>   
    <table class="table table-stripped table-hover">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Type
                </th>
                <th>
                    Size
                </th>
                <th>
                    Abilities Modifiers
                </th>
                <th class="text-center">
                    Options
                </th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="6">
                    <button class="btn btn-success" (click)="add()">Add new race</button>
                </td>
            </tr>
        <tbody>
            <tr *ngFor="let race of races">
                <td>
                    {{race.name}}
                </td>
                <td>
                    {{race.type}}
                </td>
                <td>
                    {{race.size}}
                </td>
                <td>
                    <ul class="ability-container list-inline">
                        <li *ngFor="let ability of (race.abilitiesModifiers | format_race_abilities: race.abilitiesModifiers)">{{ability}}</li>
                    </ul>
                </td>
                <td class="text-center">
                    <button class="btn btn-info action-button" (click)="edit(race._id)">
                        Edit
                    </button>
                    <button class="btn btn-info action-button" (click)="delete(race._id)">
                        Remove
                    </button>
                </td>
            </tr>
        </tbody> 
    </table>

</div>