table {
    table-layout: fixed;
}
table, td, thead > tr > th {
    border: 2px solid black;
    width: 92px;
}

tbody > tr > th {
    border-top: none;
}

.table > tbody > tr > td{
    vertical-align: middle;
    padding: 1px;
}

.no-border {
    border: 0;
    box-shadow: none;
}


.centered {
    text-align: center;
}

.ability-fullname {
    font-variant: small-caps;
    font-size: 15px;
}

.header {
    color: white;
    background-color: black;
    font-style: bold;
    vertical-align: middle;
}

.total-mod-container {
    display: inline-block;
    width: 60px;
}
